.summary {
  padding: 2rem;
}

h1 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.score {
  font-weight: 800;
}

.total {
  color: hsl(241, 100%, 89%);
  font-weight: 800;
}

img {
  vertical-align: top;
  padding-right: 0.5rem;
}

button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
  border: none;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 25px;
}
