@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--cream);
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
.price {
  font-family: Fraunces, sans-serif;
}

article {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.product-image {
  background: url("images/image-product-desktop.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 210px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-details {
  padding: 2rem;
}

.category {
  color: var(--dark-cyan);
  font-size: 0.9rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

p {
  color: var(--dark-cyan);
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.price {
  color: hsl(157, 36%, 37%);
  font-size: 2rem;
}

.old-price {
  color: var(--dark-cyan);
  font-size: 0.75rem;
  padding-left: 1rem;
  text-decoration: line-through;
  vertical-align: super;
}

button {
  background-color: hsl(157, 36%, 37%);
  border: none;
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
}

button:hover {
  background-color: hsl(156 42% 18% / 1);
}

button img {
  margin-right: 0.5rem;
}

@media screen and (min-width: 376px) {
  article {
    flex-direction: row;
    width: 550px;
  }

  .product-image,
  .product-details {
    width: 50%;
  }

  .product-image {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-position: center;
    height: auto;
  }
}
